body {
    background-color: white;
}

.header { /* Header style */
    background-color: whitesmoke;
    font-size: 20;
    padding: 10px;
    font-weight: bold;
    margin: auto;
}
.formheader { /* form header style */
    float: right;
}

#logo { /* logo for top bar */
    float: left;
    height: auto;
    width: 50px;
    margin-right: 10px;
    padding-top: 5px;
}

#h1 { /* header 1 styling */
    display: inline;
}

nav{ /* nav bar styling */
    width: 100%;
    background-color: grey;
    border-color: black;
}

nav ul{ /* Styling for lists */
    margin: 0;
    padding: 0;
    overflow: hidden; 
    margin: auto;
 }
 

nav li{ /* Styling for nav bar */
    border: 2px solid black;
    background-color: grey;
    list-style-type: none;
    float: left;
    width: 150px;
    padding: 16px;
    margin: 0px;
}


nav li a { /* Styling for nav bar */
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
}

nav li:hover { /* Stylinb for nav bar */
    background-color: blue;
}

.active { /* Styling for nav bar */
    background-color: black;
}

table { /* Styling for events galley */
    border-collapse: collapse;
}

table td, table th{ /* Styling for events galley */
    border: 2px solid grey;
    width: 10%;
    padding: 0.5%;
    font-size: 10pt;
}

Table tr:nth-child(even){ /* Styling for events galley */
    background-color: white;
}

Table tr:hover{ /* Styling for events galley */
    background-color: orange;
}

Table th{ /* Styling for events galley */
    background-color: grey;
    color: white;
    text-align: center;
}

#right-col{ /* Styling for contact us page */
    float: left;
    padding-left: 25px;
    width: 25;
}

#left-col{ /* Styling for contact us page */
    float: left;
    width: 65%;
    padding-bottom: 5px;
}

fieldset{ /* Styling for forms */
    margin: auto;
    padding: 10px;
}

.carousel{ /* Styling for carousel */
    margin-top: 10px;
}

#carouselExampleCaptions .carousel-item img {   /* Styling for carousel image */
    width: auto;
    height: auto;
    max-height: 550px;
}

.gallery-img{ /* Styling for gallery image */
    margin-top: 20px;
    width: 100%;
    height: 16%;
    filter: blur(4px);
}

#img-gallery .row{ /* Styling for gallery row */
    margin-bottom: 10px;
}

.row{ /* Styling for gallery row */
    padding-top: 10px;
}

.members{ /* Styling for members */ 
    padding-left: 20px;
}

article { /* Styling for article in home page */
    margin-top: 10px;
    border: 3px solid gray;
    padding: 5px;
}

#article-image{ /* Styling for article image */
    float: left;
    width: 10%;
}

footer{ /* Styling for footer */
    float: left;
    width: 100%;
}

#contacusform{ /* Styling for contact us form */
    border: 2px solid grey;
}

#FAQ{ /* Styling for FAQ */
    border: 3px solid black;
}
 
.rules{ /* Styling for rules */
    border: 3px solid black;
    text-align: center;
    align-items: center;
    display: table;
    margin: auto;
    width: 50%;
}

.clearfix::after { /* fixing article */
    content: "";
    clear: both;
    display: table;
  }

#about_us_video{ /* Styling for intro video */
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.rules ol li:hover{
    font-size: 30px;
    font-weight: bold;
}